.ux-button {
    margin-top: 10px;
    text-align: center;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(41, 52, 58);
    background-color: rgb(210, 235, 247);
    border-radius: 8px;
    cursor: pointer;
}

.ux-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}